body {
    background-color: aqua;
    color: blue;
    font-family: sans-serif;
    text-align: center;
}

#add {
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    padding: 0.3em;
    margin-bottom: 140px;
    border-radius: 100px;
}

#pijl {
    margin-right: 400px;
}

#pijl img {
    width: 50px;
}

#opslaan {
    background-color: rgb(109, 190, 163);
    color: blue;
    text-decoration: none;
    text-align: center;
    padding: 1em;
    margin: 100px;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 20px;
}

div p, .info h3, .gemiddelde article h3 {
    background-color: rgb(168, 167, 167);
    display: inline-block;
    padding: 1em;
}

.nummer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.nummer p {
    margin: 0;
}
.nummer .waterdata p{
    font-weight: bolder;
}

.gemiddelde {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoeveelheid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Voeg deze regel toe om de inhoud centraal uit te lijnen */
}

.progress-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin-top: 20px; /* Voeg deze regel toe om wat ruimte tussen de vraag en de cirkel te creëren */
}

svg {
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 5;
    cx: 50;
    cy: 50;
    r: 45;
}

.progress-bg {
    stroke: white;
    opacity: 0.3;
}

.progress {
    stroke: #5b4d88;
    stroke-dasharray: 283; /* Volledige omtrek */
    stroke-dashoffset: calc(283 - (283 * 80) / 100); /* 80% gevuld */
    transition: stroke-dashoffset 0.6s;
}
.progress-container h3 {
    position: absolute;
    align-items: center;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: blue;
    font-size: 18px;
    font-weight: bold;
}
.red {
    color: red;
  }
  .orange {
    color: orange;
  }
  .green {
    color: green;
  }
@media (min-width: 600px) {
    #pijl{
        margin-right: 1450px;
    }
    .gemiddelde{
       display: inline-block;
    }
    main img{
        max-width: 500px;
        display: inline-block;
    }
}